{% extends "backend/pagelets/base.html" %}

{% block content %}

<h1>Change Password</h1>

{% if badchangepassword %}
<p>
{% ifequal badchangepassword 'oldpassword' %}
The old password was incorrect.
{% endifequal %}
{% ifequal badchangepassword 'newpassword' %}
The two new passwords did not match.
{% endifequal %}
</p>

{% endif %}

<form action="" method="POST">
<table align="center" cellpadding="7px">
<tr><td align="right">Old password</td><td><input type="password" name="oldpass" id="focusme" /></td></tr>
<tr><td align="right">New password</td><td><input type="password" name="newpass1" /></td></tr>
<tr><td align="right">Confirm password</td><td><input type="password" name="newpass2" /></td></tr>
<tr><td colspan="2"><input type="submit" value="Change Password" class="button" /></td></tr>
<tr><td colspan="2"><a href="/admin/pl/close/">Close</a></td></tr>
</table>
</form>

{% endblock %}

