<div id="footer" class="sticky">
    <div id="message">
        <p>We're building a new website using
            <a href="http://djangoproject.com">django</a>. If you're interested in helping email:
            <a href="mailto:editor@oxfordstudent.com"><code>editor@oxfordstudent.com</code></a>
        </p>
    </div>
    <div id="validators"> 
        <p>Valid <a href="http://validator.w3.org/check?uri=referer"><abbr title="The Extensible Hypertext Markup Language">XHTML</abbr></a> 
        and <a href="http://jigsaw.w3.org/css-validator/check/referer"><abbr title="Cascading Style Sheets">CSS</abbr></a>.</p>
    </div>
</div>
