{% extends "blueprint_branch/base.html" %}
{% load typogrify %}
{% load byline %}
{% load sidebar %}
{% load webdesign %}
{% load oxford %}

{% block header %}
<div id="header" class="span-24">
    <div class="span-17">
        <img id="mini-masthead" src="/images/mini-masthead.png" alt="The Oxford Student" />
        <div id="breadcrumbs">
            <span class="bread">&raquo;</span>
            <h2>{{ story.section_on_web }}</h2>
        </div>
    </div>
    <div id="current-week" class="span-5 last">
        <img src="/images/date.png" id="current-week" alt="{% now "jS F Y H:i" %}" />
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="span-24">
    <div id="story" class="span-17">
        <div id="story-headline span-17">
            <h1 id="story-headline">{{ story.published.headline|typogrify|safe }}</h1>
        </div>
        <div id="sub-headline" class="span-13 last">
            {% lorem 20 w %}
        </div>
        <hr id="byline-break" />
        <!--<div id="story-byline" class="span-13 last">
            <div id="story-date">Week 4, Trinity 2008</div>-->
        <div id="story-byline" class="byline span-13 "> 
            {% if story.writers.all %}
                By
                {% attribution_list story.writers.all %}
            {% endif %}
        </div>
        <!--</div>-->
        <div id="story-body" class="span-13">{{ story.published.text|safe }}</div>
        <!--<div id="story-sidebar" class="span-4 last">
            {% issue_stories story.issue %}
            {% related_stories story %}
        </div>-->
    </div>
    <div id="sidebar" class="span-6 last">
        <h3>Sidebar Heading</h3>
        <ul>
            <li>{% lorem 10 w %}</li>
            <li>{% lorem 10 w %}</li>
            <li>{% lorem 10 w %}</li>
        </ul>
        <hr />
        <h3>Sidebar Heading</h3>
        <ul>
            <li>{% lorem 10 w %}</li>
            <li>{% lorem 10 w %}</li>
            <li>{% lorem 10 w %}</li>
        </ul>
        <hr />
        <img src="/images/oxide_block.png" alt="Oxide in Chaos" />
        <hr />
        <img src="/images/hurdle_block.png" alt="Oxide in Chaos" />
        <hr />
    </div>
</div>
{% endblock %}
