<div id="section-header" class="span-17 section-header">
    <div id="news" class="span-3">
        <dl>
            <dt><a href="#" class="first">News</a></dt>
            <dd><a href="#">College</a></dd>
            <dd><a href="#">University</a></dd>
            <dd><a href="#">City</a></dd>
        <dl>
    </div>
    <div id="news" class="span-3">
        <dl>
        <dt><a href="#">Debate</a></dt>
            <dd><a href="#">Editorials</a></dd>
            <dd><a href="#">Letters</a></dd>
            <dd><a href="#">Comments</a></dd>
        </dl>
    </div>
    <div id="news" class="span-3">
        <dl>
        <dt><a href="#">Features</a></dt>
            <dd>In-depth reporting</dd>
        </dl>
    </div>
    <div id="news" class="span-3">
        <dl>
        <dt><a href="#">Art</a></dt>
            <dd><a href="#">Music</a></dd>
            <dd><a href="#">Theatre</a></dd>
            <dd><a href="#">Film</a></dd>
        </dl>
    </div>
    <div id="news" class="span-3">
        <dl>
        <dt><a href="#">Sport</a></dt>
            <dd>All sport, all the time!</dd>
        </dl>
    </div>
</div>
<div id="media-section-header" class="span-5 last section-header">
    <ul>
        <li><a href="#">blog</a></li>
        <li><a href="#">audio</a></li>
        <li><a href="#">video</a></li>
    </ul>
</div>
